body {
    background-image: url('/images/mainimg.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav.navbar {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 1em;
}

nav.navbar a {
    color: #0f1f3d;
    font-weight: bold;
    font-size: 18px;
    margin: 0 15px;
}

nav.navbar a:hover {
    color: #0056b3;
}

.navbar-nav .nav-link.active {
    color: #0056b3;
    text-decoration: underline;
}

footer {
    background-color: #0f1f3d;
    color: #f1f1f1;
    text-align: center;
    padding: 60px;
    font-size: 20px;
    margin: 0;
    margin-top: auto;
}

footer p {
    margin: 5px 0;
}

/* Accordion Styles */
.accordion-button {
    background-color: #ffffff;
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 15px;
    border: none;
    width: 100%;
}

.accordion-button:hover {
    background-color: #9fbce2;
}

.accordion-content {
    background-color: #ffffff;
    color: #032a43;
    padding: 15px;
    display: none;
}

.accordion-content.show {
    display: block;
}

body.dark-mode{
background-image: url('/images/darkimage.png');
color: #ffffff;
background-size: cover;
background-position: center;
}

body.dark-mode .navbar {
background-color: #333;
}

body.dark-mode .container h3 {
color: #0f1f3d; 
}

body.dark-mode .navbar a {
color: #fff;
}

body.dark-mode .navbar a:hover {
color: #b0b0b0;
} 

.theme-toggle {
    background: none;
    border: 1px solid #0f1f3d; 
    color: #000;  
    font-size: 1.5em;
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 0.3s;
    position: absolute; 
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 1; 
}

.theme-toggle:hover {
    background-color: #ddd; 
}

.theme-toggle:focus {
    outline: none;
}

body.dark-mode{
    background-image: url('/images/darkimage.png');
    background-position: center;
    background-size: cover;
}

body.dark-mode .accordion-button {
background-color: #333; 
color: white; 
border: 1px solid #555; 
}

body.dark-mode .accordion-button:hover {
background-color: #555; 
}

body.dark-mode .accordion-content {
background-color: #444; 
color: #ddd; 
}


body.dark-mode .accordion-button:not(.collapsed) {
background-color: #666; 
}


